* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.Home {
  text-decoration: none;
  color: white;
}
.userInfo {
  text-decoration: none;
}
.user_name {
  text-decoration: none;
  color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* *::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */

  /* -ms-overflow-style: none; IE and Edge */
  /* scrollbar-width: none; Firefox */ 
  
.NavLinks {
  text-decoration: none;
}